<div class="container-fluid">
  <div fxLayout='row' fxLayoutAlign="center center" style="padding: 10px;">
    <div id="print-section" class="print-section">
    <img src="https://cdn.shopify.com/s/files/1/0013/2104/2003/products/BannerSizes2X4_1200x1200.png?v=1533600491" alt="Smiley face" height="100%" width="100%">
    <img src="https://cdn.shopify.com/s/files/1/0013/2104/2003/products/BannerSizes2X4_1200x1200.png?v=1533600491" alt="Smiley face" height="100%" width="100%">
    </div>

    <button (click)="print()" color="primary" mat-icon-button>
      <mat-icon>print</mat-icon>
    </button>
  </div>
</div>
